Body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#intro-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #1fa2ff, #12d8fa, #1dd1a1);
    color: white;
}

#intro-screen h1 {
    font-size: 40px;
    margin-bottom: 5px; /* ഹെഡിങ്ങിന് താഴെയുള്ള ഗ്യാപ്പ് കുറച്ചു */
}

#intro-screen p {
    font-size: 18px;
    margin-top: 0; /* പാരഗ്രാഫിന് മുകളിലുള്ള ഗ്യാപ്പ് ഒഴിവാക്കി */
}
